@import "/src/styles/functions.scss";
.container {
  width: 360px;
  min-height: 654px;
  margin: 5px;
  @include AlignCenter();
  flex-direction: column;
  .res-name {
    @include epicureFont(30px, center, 1.77px);
    font-weight: bold;
  }

  .image {
    width: 100%;
    height: 290px;
  }
  .content {
    opacity: 0.7;
    background-color: rgba(232, 196, 122, 0.2);
    text-align: center;
    height: 364px;
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .dish-name {
      @include epicureFont(38.4px, center, 2.56px);
    }
    .description {
      @include epicureFont(24px, center, 1.6px);
    }
    .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      .spice {
        width: 39px;
        height: 30px;
        margin-bottom: 5px;
      }
      .price {
        @include epicureFont(24.9px, justify, 1.66px);
      }
    }
  }
}


@media (max-width: 450px) {
  .container {
  width: fit-content;
  }
}