<div class="container">
  <div class="content">
    <h1 class="title">ABOUT US :</h1>
    <P class="description"
      >Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus vel
      justo fermentum bibendum non eu ipsum. Cras porta malesuada eros, eget
      blandit turpis suscipit at. Vestibulum sed massa in magna sodales porta.
      Vivamus elit urna, dignissim a vestibulum. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. In a lacus vel justo fermentum bibendum no eu
      ipsum. Cras porta malesuada eros.
    </P>
    <div class="platforms">
      <div class="platform">
        <img src="/assets/shape.svg" alt="" class="icon" />
        <span class="platform-label">Download on the <br><span class="inner">App Store</span></span>
      </div>
      <div class="platform">
        <img src="/assets/path.svg" alt="" class="icon" />
        <span class="platform-label">Get it on <br><span class="inner">Google Play</span></span>
      </div>
    </div>
  </div>
  <div class="image-wraper">
    <img src="/assets/about-logo.png" alt="" class="epicure" />
  </div>
</div>
