<div class="header-container">
  <div class="left-container">
    <img src="/assets/logo.png" class="logo" />
    <span fxHide.lt-md class="name">EPICURE</span>
    <button class="label">Resturants</button>
    <button class="label">Cheffs</button>
  </div>
  <div
    class="right-container"
  >
    <app-search-bar fxHide.lt-md></app-search-bar>
    <img fxHide.gt-md src="/assets/search-icon.svg" class="user-logo" />
    <img src="/assets/user-icon.svg" class="user-logo" />
    <img src="/assets/bag-icon.svg" class="bag-logo" />
  </div>
</div>
