@import "/src/styles/functions.scss";
.header-container {
  background-color: white;
  height: 53px;
  display: grid;
  grid-template-columns: 5% 25% 25% 40% 5%;
    align-items: center;
  .left-container {
    grid-area: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      height: 33px;
      width: 33px;
      object-fit: contain;
    }
    .name {
      @include epicureFont(27px, center, 1.35px);
      font-weight: 100;
    }
    .label {
      @include buttonStyle(18px, justify, 1px);
      font-weight: 100;
    }
  }

  .right-container {
    grid-area: 1/4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .bag-logo {
      width: 22px;
      height: 22px;
    }
    .user-logo {
      width: 23px;
      height: 23px;
    }
  }
}

.header-mobile {
  height: 45px;
  @include AlignCenterWithSpaceBetween();
  .menu{
    width: 18px;
    height: 14px;
    object-fit: contain;
    padding: 23px;
  }
  .logo {
    height: 30px;
    width: 31px;
    object-fit: contain;
  }
  .icons {
    width: 130px;
    @include AlignCenterWithSpaceAround();
    .icon {
      width: 18px;
      height: 18px;
      object-fit: contain;
      color: black;
    }
  }
}
