<div class="resturants">
  <p class="popular-title">THE POPULAR RESTAURANTS IN EPICURE :</p>
  <div class="wrapper">
    <div
      class="resturants-container"
      fxLayout="row"
      fxFlexAlign="center center"
    >
      <app-resturant
        *ngFor="let resturant of resturants"
        [data]="resturant"
      ></app-resturant>
    </div>
    <div class="all-resturants" fxLayout="row" fxHide.lt-sm>
      <button class="btn">All Resturants >></button>
    </div>
  </div>
</div>
<div class="dishes">
  <p class="popular-title">SIGNATURE DISH OF :</p>
  <div class="dishes-container" fxLayout="row" fxFlexAlign="center center">
    <app-dish *ngFor="let dish of dishes" [data]="dish"></app-dish>
  </div>
</div>
  <app-details></app-details>
  <app-cheff></app-cheff>
