@import "/src/styles/functions.scss";
@import '/src/styles/layout.scss';
.resturants {
  padding: $page-padding;
  .popular-title {
    @include epicureFont(30px, center, 1.25px);
  }

  .resturants-container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .all-resturants {
    margin-top: 10px;
    justify-content: flex-end;
    width: 90%;
    .all-label {
      @include epicureFont(30px, justify, 2px);
      margin: 5px;
    }
    .arrows {
      width: 24px;
      height: 18px;
      margin: 2px;
    }
    .btn {
      @include buttonStyle(30px, justify, 2px);
    }
  }
}

.dishes {
  padding: $page-padding;
  .popular-title {
    @include epicureFont(30px,center, 1.25px);
  }
  .dishes-container {
    justify-content: center;
    flex-wrap: wrap;
  }
}
