@import "/src/styles/functions.scss";
@import '/src/styles/layout.scss';
.resturants {
  padding: $page-padding;
  .popular-title {
    @include epicureFont(30px, center, 1.25px);
  }

  .resturants-container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .all-resturants {
    margin-top: 10px;
    justify-content: flex-end;
    width: 90%;
    .all-label {
      @include epicureFont(30px, justify, 2px);
      margin: 5px;
    }
    .arrows {
      width: 24px;
      height: 18px;
      margin: 2px;
    }
    .btn {
      @include buttonStyle(30px, justify, 2px);
    }
  }
}

.dishes {
  padding: $page-padding;
  .popular-title {
    @include epicureFont(30px,center, 1.25px);
  }
  .dishes-container {
    justify-content: center;
    flex-wrap: wrap;
  }
}


@media (max-width: $mobile){
  .resturants{
    padding: 51px 0px 0px 0px;

    .popular-title {
      font-size: 14px;
      letter-spacing: 0.93px;
    }
    .wrapper {
      .resturants-container {
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: scroll;
      }
    }
  }
  .dishes{
    padding: 100px 0px 0px 0px;
    .popular-title{
      font-size: 14px;
      letter-spacing: 0.93px;
      font-weight: 100;
    }
    .dishes-container {
      overflow-x: scroll;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }
  }
}