@import '/src/styles/layout.scss';
$tablet: 768px;
$desktop: 900px;
.container {
  position: relative;
  height: 34px;
  .search {
    width: 415px;
    border-radius: 4px;
    padding: 7px 16px;
    border: solid 0.5px black;
    background-color: rgba(255, 255, 255, 0.11);
  }
  .search-logo {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 22px;
    width: 22px;
  }
}
@media (max-width: $mobile) {
  .container {
    height: 33px;
    padding: 18px 10px 22px 10px;
    display: flex;
    justify-content: center;
    .search{
      // height: 33px;
      width: 100%;
      font-size: 13px;
    }
    .search-logo {
      top: 25px;
      right: 20px;
      height: 16px;
      width: 16px;
    }
  }
}

// @media (max-width: $tablet) {
//   .container {
//     .search {
//       width: 90px;
//     }
//     .search-logo {
//       display: none;
//     }
//   }
// }

// @media (max-width: $desktop) {
//   .container {
//     .search {
//       width: 150px;
//     }
//     .search-logo {
//       display: none;
//     }
//   }
// }
