@import "/src/styles/layout.scss";
.container {
  position: relative;
  height: 34px;
  .search {
    width: 511px;
    height: 48px;
    border-radius: 4px;
    border: solid 0.6px black;
    text-align: center;
    font-size: 22px;
    padding: 7px 16px;
    background-color: rgba(255, 255, 255, 0.11);
  }
  .search-logo {
    position: absolute;
    top: 20px;
    left: 22px;
    height: 22px;
    width: 22px;
  }
}
@media (max-width: $mobile) {
  .container {
    height: 33px;
    padding: 18px 10px 22px 10px;
    display: flex;
    justify-content: center;
    .search {
      height: auto;
      width: 100%;
      font-size: 13px;
    }
    .search-logo {
      top: 25px;
      left: 15px;
      height: 16px;
      width: 16px;
    }
  }
}
