@import "/src/styles/functions.scss";
@import "/src/styles/colors.scss";
@import "/src/styles/layout.scss";
.container {
  margin-top: 50px;
  width: 100%;
  height: 265px;
  opacity: 0.9;
  background-color: $primary-color;
  @include AlignCenter();
  flex-direction: column;

  .title {
    @include epicureFont(30px, center, 2.14px);
  }
  .icons {
    @include AlignCenter();
    .icon-description {
      display: flex;
      flex-direction: column;
      margin: 30px;
      .icon-image {
        width: 80px;
        height: 61px;
      }
      .description {
        @include epicureFont(25.2px, center, 1.94px);
        font-weight: 100;
      }
    }
  }
}

@media (max-width: $mobile) {
  .container {
    margin-top: 96px;
    height: 134px;
    .title {
      font-size: 14px;
      font-weight: 100;
      letter-spacing: 1px;
    }
    .icons {
      .icon-description {
        margin: 10px;
        align-items: center;
        .icon-image {
          height: 34px;
          width: 44px;
        }
        .description {
          font-size: 14px;
          letter-spacing: 1.08px;
          font-weight: 100;
        }
      }
    }
  }
}
