<div class="container">
    <h1 class="title">THE MEANING OF OUR ICONS :</h1>
    <div class="icons">
        <div class="icon-description">
            <img src="/assets/spicy-icon.svg" alt="" class="icon-image">
            <span class="description">Spicy</span>
        </div>
        <div class="icon-description">
            <img src="/assets/vegetarian.svg" alt="" class="icon-image">
            <span class="description">Vegeterian</span>
        </div>
        <div class="icon-description">
            <img src="/assets/vegan-icon.svg" alt="" class="icon-image">
            <span class="description">Vegan</span>
        </div>
    </div>
</div>