@import '/src/styles/functions.scss';
@import '/src/styles/colors.scss';
.container {
  width: 360px;
  height: 357px;
  background-color: $secondary-color;
  margin: 3px;
  .image {
    width: 360px;
    height: 224px;
  }
  .footer {
    box-sizing: border-box;
    display: flex;
    margin-top: 20px;

    .res-name {
      @include epicureFont(40px,center, 2.67px);
    }
    .cheff-name {
      @include epicureFont(25px,center, 1.67px);
    }
  }
}
