@import '/src/styles/functions.scss';
@import '/src/styles/colors.scss';
@import '/src/styles/layout.scss';
.container {
  width: 360px;
  height: 357px;
  background-color: $secondary-color;
  margin: 3px;
  .image {
    width: 360px;
    height: 224px;
  }
  .footer {
    box-sizing: border-box;
    display: flex;
    margin-top: 20px;

    .res-name {
      @include epicureFont(40px,center, 2.67px);
    }
    .cheff-name {
      @include epicureFont(25px,center, 1.67px);
    }
  }
}

@media (max-width: $mobile){
.container {
  width: 206px;
  height: 338px;
  background-color: #f7e0b2;
  padding: 0;
  margin-left: 14px;
  margin-right: 5px;
  .image {
    height: 224px;
    width: 206px;
  }
  .footer {
    margin-top: 25px;
    .res-name{
      font-size: 25px;
      letter-spacing: 1.67px;
      font-weight: bold;
    }
    .cheff-name{
      font-size: 20px;
      font-weight: 100;
      letter-spacing: 1.33px;
    }
  }
}
}
