@import "/src/styles/functions.scss";
@import "/src/styles/colors.scss";
@import "/src/styles/layout.scss";
.container {
  width: 231px;
  height: 357px;
  background-color: $secondary-color;
  margin: 5px;
  .image {
    width: 231px;
    height: 224px;
  }
  .footer {
    @include AlignCenter();
    margin-top: 20px;
    .res-name {
      @include epicureFont(30px, center, 2px);
      font-weight: 100;
    }
  }
}

@media (max-width: $mobile) {
  .container {
    width: 153.6px;
    height: 237.4px;
    background-color: #f9f4ea;
    padding: 0;
    margin-left: 14px;
    margin-right: 5px;
    .image {
      width: 153.6px;
      height: 149px;
    }
    .footer {
      margin-top: 12px;
      .res-name {
        width: 50%;
        font-size: 20px;
        letter-spacing: 1.33px;
      }
    }
  }
}
