@import "/src/styles/functions.scss";
@import '/src/styles/colors.scss';
.container {
  width: 231px;
  height: 357px;
  background-color: $secondary-color;
  margin: 5px;
  .image {
    width: 231px;
    height: 224px;
  }
  .footer {
    @include AlignCenter();
    margin-top: 20px;
    .res-name {
      @include epicureFont(30px, center, 2px);
      font-weight: bold;
    }
  }
}
