@import '/src/styles/functions.scss';
$tablet: 769px;
.container {
    display: flex;
    justify-content: center;
  position: absolute;
  top: 30%;
  left: 27%;
  width: 40%;
  height: 222px;
  background-color: rgba(255, 255, 255, 0.88);
  padding-bottom: 25px;
  .content {
    @include AlignCenter();
    flex-direction: column;
    width: 85%;
    .title {
      @include epicureFont(35px, center, 1.97px);
      font-weight: 100;
    }
    .search-container {
      align-self: center;
    }
  }
}

@media (max-width: $tablet){
  .container{
    .content{
      .title {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 600px){
  .container{
    .content{
      .title {
        font-size: 18px;
      }
    }
  }
}
