@import '/src/styles/functions.scss';
@import '/src/styles/layout.scss';
.container {
    display: flex;
    justify-content: center;
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  height: 45%;
  background-color: rgba(255, 255, 255, 0.88);
  padding-bottom: 25px;
  .content {
    @include AlignCenter();
    flex-direction: column;
    width: 85%;
    .title {
      @include epicureFont(35px, center, 1.97px);
      font-weight: 100;
      width: 437px;
    }
    .search-container {
      align-self: center;
    }
  }
}

@media (max-width: $tablet){
  .container{
    .content{
      .title {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: $mobile){
  .container{
    height: 125px;
    padding-top: 18px;
    padding-bottom: 22px;
    .content{
      width: 100%;
      .title {
        width: 85%;
        height: 39px;
        font-size: 16px;
      }
      .search-container {
        height: 33px;
        width: 100%;
      }
    }
  }
}
