<div class="container">
  <!-- <h1 class="title">CHEFF OF THE WEEK :</h1> -->
  <label class="title">CHEFF OF THE WEEK :</label>
  <div class="cheff">
    <img src="{{chef.image}}" alt="" class="cheff-image" />
    <P class="cheff-description"
      >{{chef.about}}</P
    >
  </div>
  <div class="wraper">
      <span class="resturants-label">{{chef.name}}'s resturants :</span>
      <div class="images" fxLayout="row">
          <app-cheff-resturant *ngFor="let res of resturants"  [data]="res"></app-cheff-resturant>
        </div>
    </div>
</div>
