@import '/src/styles/functions.scss';
.container {
    padding: 70px 200px ;
        .title {
            @include epicureFont(30px,center,2px);
    }
    .cheff {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 50px;
        .cheff-image {
            width: 433px;
            height: 338px;
        }
        .cheff-description {
            @include epicureFont(25px,justify,1.08px);
            width: 50%;
        }
    }
    .wraper {
        display: flex;
        flex-direction: column;
        margin-top: 35px;
        .resturants-label {
            @include epicureFont(30px,justify,1.29px);
        }
        .images {
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 450px) {
    .container {
     padding: 10px;
     .cheff {
         padding: 35px;
         .cheff-description {
             padding: 10px;
         }
     }
     .wraper {
        .resturants-label {
            text-align: center;
        }
        .images {
            justify-content: center;
        }
       
    }
    }
  }

@media(max-width: 650px){
    .container{
        .cheff{
            .cheff-image{
                width: 280px;
                height: 280px;
            }
            .cheff-description {
                width: 100%;
            }
        }
    }
}